[Desktop Entry]
Name=Photopea
Type=Application
Comment=Alternative for Adobe Photoshop users
Commment[cs]=Alternativa pro uživatele Adobe Photoshopu
Comment[de]=Alternative für Benutzer von Adobe Photoshop
Comment[sk]=bezplatná alternatíva pre používateľov programu Adobe Photoshop
Terminal=false
Icon=com.github.vikdevelop.photopea_app
Exec=photopea_app
Categories=Graphics
