[Desktop Entry]
Name=Photopea
Type=Application
Comment=Alternative for Adobe Photoshop users
Comment[cs]=Alternativa pro uživatele Adobe Photoshopu
Comment[de]=Alternative für Benutzer von Adobe Photoshop
Comment[sk]=Bezplatná alternatíva pre používateľov programu Adobe Photoshop
Comment[fr]=Une alternative pour les utilisateurs d'Adobe Photoshop
Comment[ru]=Aльтернатива для пользователей Adobe Photoshop
Comment[es]=Una alternativa para los usuarios de Adobe Photoshop
Comment[no]=Et alternativ for Adobe Photoshop-brukere
Comment[fi]=Vaihtoehto Adobe Photoshopin käyttäjille
Comment[it]=Un'alternativa per gli utenti di Adobe Photoshop
Terminal=false
Icon=com.github.vikdevelop.photopea_app
Exec=photopea_bin
Categories=Graphics
