[Desktop Entry]
Name=Photocrea
Type=Application
Comment=Advanced photo editor
Terminal=false
Icon=com.github.vikdevelop.photopea_app
Exec=photopea.sh
Categories=Graphics
